{% extends 'base.html' %}

{% block content %}
<form class="col-md-5 mx-auto" action="{{ url_for('login') }}" method="post">
  <h2 class="text-center">Log in</h2>       
  <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Username" required="required">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Password" required="required">
  </div>
  <div class="clearfix">
    <label class="pull-left checkbox-inline"><input type="checkbox" name="remember"> Remember me</label>
  </div>        
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Log in</button>
  </div>
</form>

<form class="col-md-5 mx-auto" action="{{ url_for('register') }}" method="post">
  <h2 class="text-center">Register</h2>       
  <div class="form-group">
    <input type="text" name="name" class="form-control" placeholder="Username" required="required">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Password" required="required">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Regiser</button>
  </div>
</form>
{% endblock %}
