{% extends 'base.html' %}

{% block content %}
<div class="col-md-5 mx-auto">
  <h2>Hello {{user}}</h2>
  <p class="m-1">
    <a href="{{ url_for('logout') }}">Logout</a>
  </p>

  {% if user == "admin" %}
  <p class="m-1">
    Save this flag: {{ flag }}
  </p>
  {% endif %}
</div>
{% endblock %}
