<form class="col-md-5 mx-auto" action="login.php" method="post">
        <h2 class="text-center">Login</h2>       
        <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
</form>

<!-- 
<form class="col-md-5 mx-auto" action="register.php" method="post">
        <h2 class="text-center">Register</h2>       
        <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Regiser</button>
        </div>
</form>
-->
